.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.sectionContainer {
    width: 450px;
    background: white;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.h3 { 
    margin: 15px 0px 30px;
}

.mainSection {
    display: flex;
    flex-direction: column;
}

.changePwd {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    width: 120px;
    font-size: 14px;
    color: #303030;
}

.input {
    flex: 1;
    padding: 12px;
    font-size: 12px;
    border: 0.6px solid #D5D5D5;
    background: #F5F6FA;
    outline:none;
    font-family: sans-serif;
}

.buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.update {
    border: none;
    background: #3b82f6;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
}

.update:hover {
    background: #116af9;
}

.cancle {
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
}

.cancle:hover {
    background: rgb(195, 195, 195);
}

.error {
    color: rgb(145, 37, 37);
    font-size: 11px;
    text-align: right;
    margin-bottom: 20px;
}