.myBodyStyle {
    background-color: #5865F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
/* 컨테이너 전체를 중앙에 배치 */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

/* 로그인 박스 */
.loginWrapper {
    background-color: #fff;
    width: 600px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 로고(제목) */
.logo {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

/* 라벨 텍스트 */
.labelText {
    display: block;
    text-align: left;
    margin: 1rem 0 0.3rem 0;
    font-size: 0.95rem;
    color: #333;
}

/* 인풋 필드 */
.inputField {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 400;
}

/* 아이디 저장 체크박스 */

.saveContainer {
    display: flex;
    font-size: 12px;
    margin: 15px 0px;
}
.saveId {
    width: 15px;
    margin-right: 8px;
    border: 1px solid #555;
}

.saveLabel {
    color:#555;
}

/* 로그인 버튼 */
.loginBtn {
    display: inline-block;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #5865F2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.loginBtn:hover {
    background-color: #4a59f9;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    font-size: 0.85rem;
    color: #666;
}

/* 안내 문구 */
.notice {
    font-size: 0.85rem;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.notice:hover {
    color:#2d2d2d;
}