.formContainer {
    margin: auto;
}

.title {
    font-size: 20px;
    color: #343434;
    margin-top: 20px;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search {
    height: 28px;
    display: flex;
    background: #F5F6FA;
    border: 1px solid #D5D5D5;
    border-Radius: 20px;
    padding: 0 8px;
}

.input {
    color: #202224;
    font-Size: 12px;
    font-Weight: 400;
    opacity: 0.8;
    height: 100%;
    width: 120px;
    background: #F5F6FA;
    border-Radius: 20px;
    border: none;
    padding-left: 10px;
    outline:none;
    box-shadow:none;
}

.searchButton {
    background: white;
    background: #F5F6FA;
    border: none;
    border-Radius: 20px;
    outline:none;
    box-shadow:none;
}

.searchButton img {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    /* margin: auto; */
}

.thStyle {
    padding: 12px;
    border-bottom: 2px solid #202224;
    font-size: 16px;
}

.tdStyle {
    padding: 14px;
    font-size: 15px;
    color: #202224;
}

.rowStyle {
    border-bottom: 1px solid #E0E0E0;
    
}

.row:hover {
    background-color: #f9fafb;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 110px; 
    height: 40px;
    padding: 8px 16px;
    border-radius: 14px;
    border: 1px solid #ccc;
    text-Decoration: none;
    color: black;
    font-Size: 14px;
    padding: 0 15px;
}

.button:hover {
    transition: 0.3s;
    background-color: #3b82f6;
    color: white;
}