<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalMemo">

	    <!-- 결재 의견 저장 -->
	<insert id="insertApprovalMemo" parameterType="com.workly.final_project.approval.model.vo.ApprovalMemo">
	    INSERT INTO APPROVAL_MEMO (MEMO_NO, USER_NO, APPROVAL_NO, MEMO_CONTENT, MEMO_DATE)
	    SELECT APPROVAL_MEMO_SEQ.NEXTVAL, #{userNo}, #{approvalNo}, #{memoContent}, SYSDATE
	    FROM DUAL
	    WHERE EXISTS (SELECT 1 FROM APPROVAL WHERE APPROVAL_NO = #{approvalNo})
	</insert>


    <!-- 특정 결재 문서에 대한 결재 의견 조회 -->
    <select id="selectMemosByApprovalId" resultType="ApprovalMemo">
        SELECT *
        FROM APPROVAL_MEMO 
        WHERE APPROVAL_NO = #{approvalNo} 
        ORDER BY MEMO_NO ASC
    </select>
    
    <!-- 본인 결재 의견 삭제 -->
    <delete id="deleteApproval">
    	DELETE FROM APPROVAL_MEMO
    	WHERE MEMO_NO = #{memoNo}
    </delete>
    
    <!-- 본인 결재 의견 수정 -->
    <update id="updateApprovalReply">
    	UPDATE APPROVAL_MEMO
    	SET MEMO_CONTENT = #{memoContent}
    	WHERE MEMO_NO = #{memoNo}
    </update>

</mapper>










