.container {
    display: flex;
    width: 70%;
    padding: 10px 0px;
    margin: auto;
    margin-top: 80px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    overflow: hidden;

}

.profileImage {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border: 1px solid #D5D5D5;
    cursor: pointer;
}

.changeProfile {
    font-size: 12px;
    color: #9c9c9c;
    cursor: pointer;
}

.changeProfile:hover {
    color:#848484
}

.cancleProfile {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-size: 12px;
    margin-top: 10px;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    color: #848484;
}

.cancleProfile:hover {
    color: rgb(254, 73, 73);
}
.inputProfile {
    display: none;
}

.formContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.label {
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    background: #F5F6FA;
    font-family: sans-serif;
}

.buttonGroup {
    display : flex;
    gap: 10px;
}

.submitButton {
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.submitButton:hover {
    background-color: #2b75ee;
}

.cancleButton {
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.cancleButton:hover {
    background-color: #e0e0e0;
}
/* 모든 브라우저 input type number 태그 숫자 증감버튼 지우기 */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}